/**********
 * 颜色
 **********/
// 基础色
$green = #1BC467
$green-light = #76D475
$green-lighter = #F1FFE6
$orange = #F26C30
$orange-light = #F4966C
$orange-lighter = #FFF7E6
$red = #FF5555
$red-light = #FC7575
$red-lighter = #FFEBEB
$blue = #3285FA
$blue-light = #99C2FF
$blue-lighter = #E6F0FF

// 主色
$primary-color = #08B9CE
// 点击色
$primary-color-light = #D6FAFF
// hover色
$primary-color-light_hover = #D1F9FF
$primary-color-lighter1 = #2cd0db
// 辅色
$info-color = $blue
$success-color = $green
$warning-color = $orange
$error-color = $red
// 链接色
$link-color = $primary-color
$link-hover-color = $primary-color

/**********
 * 字体
 **********/
$base-font-family = Arial,sans-serif;
$base-font-family-zh = -apple-system,system-ui,sans-serif;
$base-font-size = 14px
$base-line-height = 1.2
$base-font-weight = 400

@font-face {
}

/**********
 * 基础间距
 **********/
$base-margin1 = 10px
$base-margin2 = 20px
$base-margin3 = 30px
$base-margin4 = 40px
$base-label-margin = 8px

/**********
 * 尺寸
 **********/
// 头部高度
$header-height = 54px;
// 底栏高度
$footer-height = 64px;
// 左栏宽度
$sider-width = 100px;
// 页面最小宽度（在客户端里面，实际宽度需要减去两边阴影）
// $page-min-width = 1280px - 16px;
$page-min-width = 1024px;
// 标签栏高度
$tabbar-height = 40px;
// 页面标题栏高度
$titlebar-height = 40px;
// 页面外间距
$page-padding = 16px
// 盒子间距
$box-margin = 10px
// 页面内容盒子间距
$content-box-padding = 14px
// 列表的按钮间距
$list-button-margin = 10px
// 高级搜索的组合搜索框的宽度
--mix-search-box-width = 300px

/**********
 * 字体规范颜色
 **********/
$font-color-deep = #0A2B33
$font-color-deep1 = #002C34
// $font-color-normal = #2B3E43
$font-color-normal = #33494f
$font-color-assist1 = #566669
$font-color-assist2 = #67797D
$font-color-assist3 = #88969A
$font-color-assist4 = #2B3E43
$font-color-assist5 = #a1a1a1
$font-color-assist7 = #8D9599
$font-color-default = #ACB9BC
$font-color-assist6 = #F7F8FA
$bg-color-disabled = #E8E8ED
$bg-color = #EBEDEF
$input-bg = #F5F6FA
// 页面背景色
$page-bg-color = #f0f2f5
// 边框线
$border-color = rgba(60,75,100,0.20)
// 分割线
$cutting-line-color = rgba(60,75,100,0.10)
